// Miami 1985 Color Palette

$violet: #d080d7;
$hotPink: #e87fcd;
$powderPink: #f9d3ff;
$oceanGreen: #70bac9;
$skyBlue: #75e2df;
$softBlack: #272727;

.grid {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: -50%;
    background-image: linear-gradient(90deg, transparent 0%, transparent 85%, #FF7FBF 90%, transparent 95%), linear-gradient(0deg, transparent 0%, transparent 85%, #FF7FBF 90%, transparent 95%);
    background-size: 12px 12px;
    width: 200vw;
    height: 60vh;
    transform: translate3D(0, 0, 0) perspective(150px) rotateX(45deg) ;
    perspective-origin: top;
    
    animation-name: movement;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
  }
  
  .grid:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, black);
    z-index: -1;
  }
  
  @keyframes movement {
    0% {background-position: 0% 0%;}
    100% {background-position: 0% 100%;}
  }