// Miami 1985 Color Palette

$violet: #d080d7;
$hotPink: #f25ea4;
$powderPink: #f9d3ff;
$oceanGreen: #70bac9;
$skyBlue: #75e2df;
$softBlack: #272727;

body {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    background: no-repeat bottom center scroll;
    background-color: black;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.cardFrontPage {
    background-color: black;
    border: 1px solid transparent;
}

.mobileGrid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient($oceanGreen .1em, transparent .1em), linear-gradient(90deg, $oceanGreen .1em, transparent .1em);
    background-size: 3em 3em;
}

.homepageThumbnail-mobile { 
    // height: 138px; iPhone 6 Plus
    height: 100px;
    width: 75px;
}


.img-thumbnail {
    background: transparent;
    border: 1px solid $oceanGreen;
}

.tableHeader,
.developerRow,
.genreRow,
.releaseRow,
.ratingRow {
    text-align: center;
    justify-content: center;
}

//Games Page
.card {
    border: 1.5px solid $oceanGreen;
    position: relative;
}
.gamePageThumbnail {
    height: 150px;
}
.strong {
    font-size: 1em;
}
.sectionHeader {
    color: $hotPink;
    font-size: 0.7em;
}

.rowFont {
    font-size: 0.5em;
}

.esrbRatingIcon {
    height: 22px;
    width: 18px;
}

/*--------------------------------------------*/

  // Media Queries
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* iphone 4 */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-height: 480px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) {


}
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-height: 480px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: landscape) {

}

/* iphone 5 */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-height: 568px) 
    and (orientation: portrait) {
        .homepageThumbnail-mobile {
            height: 75px;
            width: 50px;
        }
}

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-height: 568px) 
    and (orientation: landscape) {
        .homepageThumbnail-mobile {
            height: 75px;
            width: 50px;
        }
}

/* Galaxy S5 */
@media only screen 
    and (min-device-width: 360px) 
    and (max-device-height: 640px) 
    and (orientation: portrait) {

}

@media only screen 
    and (min-device-width: 360px) 
    and (max-device-height: 640px) 
    and (orientation: landscape) {
        
}

/* iphone 6, 6s, 7, 8 */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-height: 667px) 
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait) {

}
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-height: 667px) 
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: landscape) {

}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen 
    and (min-device-width: 414px)
    and (max-device-height: 736px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: portrait) {
       
    }

    @media only screen 
    and (min-device-width: 414px)
    and (max-device-height: 736px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: landscape) {

    }

/* iphone X */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: portrait) {

    }

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: landscape) {
        .homepageThumbnail-mobile {
            height: 100px;
            width: 75px;
    }
}

/* Pixel 2 */
@media only screen 
    and (min-device-width: 411px) 
    and (max-device-height: 731px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: portrait) {

    }

/* ---------------------------------------------------- */

/* Ipad */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .homepageThumbnail-mobile {
        height: 200px;
        width: 150px;
    }
  }


/* Ipad  Pro*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .homepageThumbnail-mobile {
        height: 225px;
        width: 175px;
    }
  }

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .homepageThumbnail-mobile {
        height: 150px;
        width: 100px;
    }
}

/* ---------------------------------------------------- */

/* MDPI Screens (Computers, 1440px and up) */

@media (min-width: 1280px) and (max-width: 1439px) and (orientation: landscape) {
    .homepageThumbnail-mobile {
        height: 300px;
        width: 275px;
    }
    .homepageThumbnail {
        height: 125px;
        width: 125px;
    }
}

/* HDPI Screens (Computers, 1440px and up) */

@media (min-width: 1440px) and (orientation: landscape) {
    .homepageThumbnail {
        height: 150px;
        width: 150px;
    }
}

/* ---------------------------------------------------- */

/* 4K Resolution (Computers, 3840px and up) */

@media (min-width: 3840px) and (orientation: landscape) {
    .homepageThumbnail {
        height: 325px;
        width: 275px;
    }
}